body{
    background-color: gray;
}

.tr, th, td {
    border: 1px solid;
}

.container {
    position: absolute;
    width: 220px;
    height: 300px;
    background: #C0C0C0;
    border-color: #A9A9A9;
    border: 2px solid;
    left: 500px;

}
