body{
    background-color: gray;
}

table, tr, th, td{
  border: 1px solid;
}

/* #total {
    background-color: #77ff00;
} */

.container {
    width: 220px;
    height: 230px;
    background: #C0C0C0;
    border-color: #A9A9A9;
    border: 2px solid;

}
