{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'crypto/styles/base.css' %}">
        <link rel="shortcut icon" href="{%  static 'crypto/icon/favicon.ico' %}">
        <title>{% block title%}CryptoSite{% endblock title%}</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
          <div class="container-fluid">
            <a class="navbar-brand btn btn-primary" href="{% url 'wallet' %}">CryptoSite</a>
            <a class="nav-link" href="{% url 'wallet' %}">Your Wallet</a>
            <a class="nav-link" href="{% url 'buycryptos' %}">Buy Cryptos</a>
            <a class="nav-link" href="{% url 'sellcryptos' %}">Sell Cryptos</a>
            <a class="nav-link" href="{% url 'sendcryptos' %}">Send Crypto</a>
            <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
            <a class="nav-link" href="{% url 'userprofile' %}">Profile</a>
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </div>
        </nav>
        <a id="coins-btn" class="btn btn-success" href="https://www.coingecko.com/pl" target="_blank">COINS</a>
        {% block content %}{% endblock content %}
    </body>
</html>
