{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Buy cryptos</title>
    </head>
    <body>
    {% block content %}
        <h1>Buy cryptos:</h1>
        <form class="" action="" method="post">
            {% csrf_token %}
            Crypto name: <input type="text" name="cryptoNameBuy">
            How much dollars u want to invest? <input type="number" step="any" min=0 name="quantityDollarsBuy">
            <input type="submit" name="" value="Buy!">
        </form>
    {% endblock content %}
    </body>
</html>
