{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'crypto/styles/index.css' %}">
        <meta charset="utf-8">
        <title>Crypto API</title>
    </head>
    <body>
        <h1>Hello, {{ user }}, your current balance is: {{ user_balance }}$</h1>

        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}
        <h3>Your wallet:</h3>
        <table id="first_table">
            <td>Name</td>
            <td>Crypto quantity</td>
            <td>Invested</td>
            {% for i in user_cryptos %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ i.cryptoQuantity }}</td>
                <td>{{ i.quantityDollars }}</td>
            </tr>
            {% endfor %}
        </table>
        <table id="second_table">
            <td>Currently worth:</td>
            {% for i in current_crypto_values %}
            <tr>
                <td>{{ i }}</td>
            </tr>
            {% endfor %}
        </table>
        <table id="third_table">
            <td>Profit/loss</td>
            {% for i in profit_loss %}
            <tr>
                <td>{{ i }}</td>
            </tr>
            {% endfor %}
        </table>

        <h3>Price check:</h3>
        <a href="https://www.coingecko.com/pl" target="_blank">List of coins</a>
        <form class="" action="" method="post">
            {% csrf_token %}
            <input type="text" name="textfield" value="">
            <button type="submit" name="button">Check</button>
            <p>The price of this coin is: {{ search_coin }}$</p>
        </form>
        <div class="container">
            <h3>Currently trending coins: </h3>
            {% for i in trending %}
                <li>{{ i }}</li>
            {% endfor %}
        </div>
    </body>
</html>
