<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="header-bar">
            <h1>Login</h1>
        </div>
        <div class="card-body">
            <form class="" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="button" type="submit" name="" value="Login">
            </form>
            <h3>Dont have an account?</h3>
            <a href="{% url 'register' %}">Register</a>

        </div>
    </body>
</html>
