{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'crypto/styles/index.css' %}">
        <meta charset="utf-8">
        <title>Crypto API</title>
    </head>
    <body>
        {% block content %}
        {% if user_balance %}
        <h1>Hello, {{ user }}, your current balance is: {{ user_final_balance }}$</h1>
        <a href="{% url 'deposit' %}">Add More Funds!</a>
        {% else %}
        <h1>Hello, {{ user }} make your first deposit!</h1>
        <a href="{% url 'deposit' %}">Add Funds!</a>
        {% endif %}
        <h1>Your portfolio: {{ values_summary }}</h1>
        <a href="https://www.coingecko.com/pl" target="_blank">List of coins</a>
        <h3>Your wallet:</h3>
        <table class="table table-striped table-sm">
            <td>Name</td>
            <td>Quantity</td>
            <td>Current Worth</td>
            <td>Profit/loss</td>
            {% for i, j, k, l in final_table %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ j }}</td>
                <td>{{ k }}</td>
                <td>{{ l }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endblock content %}
    </body>
</html>
