{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static 'crypto/styles/wallet.css' %}">
        <meta charset="utf-8">
        <title>Crypto API</title>
    </head>
    <body>
        {% block content %}
        {% if user_balance %}
        <div class="container-sm border">
        <h1>Hello, {{ user }}!</h1>
        <h2>Balance: {{ user_final_balance }}$</h2>
        <h2>Portfolio balance: {{ values_summary }}$</h2>
        <a class="btn btn-primary" href="{% url 'deposit' %}">Add More Funds!</a>
        </div>
        {% else %}
        <div class="container-sm border">
        <h1>Hello, {{ user }} make your first deposit!</h1>
        <a class="btn btn-primary" href="{% url 'deposit' %}">Add Funds!</a>
        </div>
        {% endif %}
        <h3>Wallet:</h3>
        <table class="table table-striped table-sm">
            <td>Name</td>
            <td>Quantity</td>
            <td>Current Worth</td>
            <td>Profit/loss</td>
            {% for i, j, k, l in final_table %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ j }}</td>
                <td>{{ k }}</td>
                <td>{{ l }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endblock content %}
    </body>
</html>
